body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {/*for header area*/
  overflow: hidden;
  background-color: brown;
  padding: 20px 10px;

}

.header a {/*for header text*/
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  align-items: center;
}

.header a.logo {/*for header right side area*/
  font-size: 25px;
  font-weight: bold;
  float: left
}

.header a:hover {
  background-color: palegoldenrod;
  color: black;
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.main { /*for content area*/
  grid-area: main;
  background-color: palegoldenrod;
  padding: 10px;
  font-size: 16px;
  
}

/*for homepage content*/
.box {
  background-color: brown;
  width: 99%;
  padding: 1%;
  color: white
}
 .free {
        font-size: 20px;
        padding-left: 12%;
      }

.profile {
        width: 10%;
        height: 5%;
        float: left;
        padding:1%;
      }

/*for games content*/
.content{

    width: 100%;
    table-layout: fixed; /*Make the table balanced */
    border-collapse: collapse;
  
  
}
tr, td {
  padding: 20px;
  width: 50%; /* Set equal width for each column */
  border-color: palegoldenrod;
  border-collapse: collapse;  
}
td:hover{
  background-color: palegoldenrod;
  transition: box-shadow .3s;
  box-shadow: 2px 2px 90px black; 
}
.intro{
  text-align: center;
}

